* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #eee;
    font-family: Roboto;
}

#title {
    text-align: center;
    margin: 5rem 0 1rem;
    text-transform: uppercase;
    color: #333;
}

.chart {
    background-image: linear-gradient(#38006b, #4a148c, #6a1b9a, #9c4dcc);
    color: rgba(255, 255, 255, 0.9);
    display: block;
    margin: 2rem auto 0;
    box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
    position: relative;
}

.bar:hover {
    fill: #38006b;
}

#tooltip {
    background: rgba(0, 0, 0, 0.7);
    z-index: 555;
    color: #de1654;
    position: absolute; 
    transition: all .5s;
}
